#homepage-image {
    border: 3px solid gold;

}
#Index-Header {
    font-family: Arial, Helvetica, sans-serif;
    
    padding-bottom: 20px;
     background-color: gold;
  padding: 10px;
  text-align: center;
}
#site-nav, .reference,.nav-link{
background-color: gold;
padding: flex;
text-align: center;
border-radius: 12px;
}
#site-nav ul, .reference ul, .nav-link{
    margin:0;
    justify-content: center;
    padding: flex;
    gap: 15px;
}
.nav-link, reference a {
    color:beige;
    padding: 10px 12px;
    border-radius: 10px;

}
#site-footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 30px;
}

#site-footer a {
  color: #ffcc00;
  text-decoration: none;
  margin: 0 5px;
}

#site-footer a:hover {
  text-decoration: underline;
}
#index-paragraph{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    
}